generated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Account" type="AccountType"/>
  <xs:complexType name="clientShippingType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:int" name="phoneNumber"/>
      <xs:element type="xs:string" name="address"/>
      <xs:element type="xs:string" name="postCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="componentsType">
    <xs:sequence>
      <xs:element name="id">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="componentName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Asus ROG STRIX B550"/>
            <xs:enumeration value="Gigabyte Elite AX V2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="price">
        <xs:simpleType>
          <xs:restriction base="xs:float">
            <xs:enumeration value="120.99"/>
            <xs:enumeration value="169.99"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriesType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:string" name="categorieName"/>
      <xs:element type="componentsType" name="components" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:string" name="userName"/>
      <xs:element type="xs:short" name="password"/>
      <xs:element type="clientShippingType" name="clientShipping"/>
      <xs:element type="categoriesType" name="categories"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>